<div class="content">

	<p></p>
	<ng-template #newUser let-modal>
		<div class="modal-header">
			<h4 class="modal-title" id="modal-basic-title">Create User</h4>
			<button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
				<span aria-hidden="true">&times;</span>
			</button>
		</div>
		<div class="modal-body">
			<form [formGroup]="userForm">
				<div class="form-group">
					<label for="username">Username</label>
					<input type="text" formControlName="username" class="form-control" placeholder="username" name="username" />
				</div>
				<div class="form-group">
					<label for="email">Email</label>
					<input type="text" formControlName="email" class="form-control" placeholder="email" name="email" />
				</div>
				<div class="form-group">
					<label for="phone">Phone</label>
					<input type="text" formControlName="phone" class="form-control" placeholder="phone" name="phone" />
				</div>
				<div class="form-group">
					<label for="skillsets">Skill Sets</label>
					<textarea type="text" formControlName="skillsets" class="form-control" name="skillsets"></textarea>
				</div>
				<div class="form-group">
					<label for="hobby">Hobby</label>
					<textarea type="text" formControlName="hobby" class="form-control" name="hobby"></textarea>
				</div>
			</form>
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-outline-dark" (click)="create();modal.close('Save click');">Create</button>
		</div>
	</ng-template>
	<button (click)="open(newUser)"><fa-icon [icon]="faPlus" style="color: #04cf04;"></fa-icon> Add User</button>
	
	<ag-grid-angular
		style="width: 1000px; height: 500px;"
		class="ag-theme-alpine"
		[rowData]="rowData"
		[columnDefs]="columnDefs"
		[defaultColDef]="defaultColDef"
		[overlayLoadingTemplate]="overlayLoadingTemplate"
		[overlayNoRowsTemplate]="overlayNoRowsTemplate"
		[frameworkComponents]="frameworkComponents"
		(gridReady)="onGridReady($event)"
		>
	</ag-grid-angular>

</div>